<table>

    <td></td>
    {% for header in headers %}
    <th scope="col">{{header}}</th>
    {% endfor %}

  {% for i in range(size) %}
    <tr>

    <th scope="row">{{headers[i]}}</th>
        {% for j in range(size) %}
        <td style="background-color: rgba(0,0,255,{{alpha_vals[i][j]}});width: 120px;height: 120px;text-align: center;">
        <div style="margin: 10px">{{rows[i][j]}}</div>
        {% for k in range(app_urls[i][j]|length) %}
        <img style="width: 25px;height: 25px; margin: 3px" src={{app_urls[i][j][k][0]}}>
        {% endfor %}
    </td>
        {% endfor %}
    </tr>
   {% endfor %}
</table>